<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!----Link CSS----->
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <!--Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_33-256.png" type="image/gif" sizes="16x16">
  <title>About Section</title>
</head>

<body>
      {{>header}}
      <div class="card text-center">
         <div class="card-body">
           <h2>The Application is used for {{application}} .</h2>
           <h3>{{owner}} is the Owner of this Apllication</h3>
          <img src="/image/ni.jpg" alt="Nishant Sharma" width="350" height="400">
          </div>
     </div>
</body>

</html>
